%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
    %title Caffeine-Sleep: Create Group
  %body
    .header-nav
      = renderPartial "nav_after_login"
    #content-frame
      #content
        %form{:action => "/addGroup", :method => "post"}
          %fieldset
            %legend Group Information
            .form
              .form-row
                .form-label
                  %label{:rel => "name"} Name
                .form-input 
                  %input{:type => "text", :name => "name"}
              .form-row
                .form-label
                  %label{:rel => "type"} Type 
                .form-input
                  %input{:type => "text", :name => "type"} 
          %input{:type => "submit", :value => "Add Group"}
        %span 
          = @error
