%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
    %title Caffeine-Sleep: Create Product
  %body
    .header-nav
      = renderPartial "nav_after_login"
    #content-frame
      #content
        %form{:name => "newProduct", :action => "/addProduct", :method => "post"}
          %label{:rel => "name"} Name
          %input{:type => "text", :name => "name"} 
          %br
          %label{:rel => "type"} Type
          %input{:type => "text", :name => "type"}
          %br
          %label{:rel => "mg"} Amount
          %input{:type => "text", :name => "mg"}
          %br
          %input{:type => "submit", :value => "Add Product"}
