%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
    %title Caffeine-Sleep: Caffeine Usage Logs
  %body
    .header-nav
      = renderPartial "nav_after_login"
    #content-frame
      #content
        - if @caffeineEntries.empty?
          %h1 You have not Loged and Caffeine Consumption
        #caffeine
          - @caffeineEntries.each do |caffiene|
            %label Time: #{caffiene.time}
            %br
            %label Amount: #{caffiene.mg}
            %br
            %label Product: #{caffiene.product.name}
            %br
            %br
