%html
    %head
        %link{:rel => "stylesheet", :type => "text/css", :href => "nav.css"}
        %title "Caffeine-Sleep"
    %body
        .header-nav
            = renderPartial "nav"
        #login
            %span #{@greeting}
        #content
            %h1 Caffeine and intake logger
            %p We wanted to be able to track caffeine intake vs sleep in comparison to productivity.  This is how we will do that.
        #footer
            Copyright - Brousalis Enterprises, LLC
            
