%html
    %head
        %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
        %script{:type => "text/javascript", :src => "style.js"}
        %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-latest.js"}
        %title "Caffeine-Sleep"
    %body
        .header-nav
            %div #{@greeting}
            %h1 Caffeine Intake Logger
            = renderPartial "nav"
