%html
    %head
        %title Loging Productivity
    %body
        .header-nav
            = renderPartial "nav"
        %form{:name => "productivity", :action => "/logproductivity", :method => "post"}
            %label{:rel => "level"} level
            %input{:type => "text", :name => "level"}
            %input{:type => "submit", :value => "Log Productivity"}
