%html
    %head
        %title Loging Sleep
    %body
        .header-nav
            = renderPartial "nav"
        %form{:name => "sleep", :action => "/logsleep", :method => "post"}
            %label{:rel => "starttime"} starttime
            %input{:type => "text", :name => "starttime"}
            %label{:rel => "length"} length
            %input{:type => "text", :name => "length"}
            %input{:type => "submit", :value => "Log Sleep"}
        #content
            %span{@error}
            %h1 Caffeine and intake logger
            %p We wanted to be able to track caffeine intake vs sleep in comparison to productivity.  This is how we will do that.
        #footer
            Copyright - Brousalis Enterprises, LLC
