%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
    %title Caffeine-Sleep: Log Sleep
  %body
    .header-nav
      = renderPartial "nav_after_login"
    #content-frame
      #content
        %form{:name => "sleep", :action => "/logsleep", :method => "post"}
          %label{:rel => "starttime"} starttime
          %input{:type => "text", :name => "starttime"}
          %label{:rel => "length"} length
          %input{:type => "text", :name => "length"}
          %input{:type => "submit", :value => "Log Sleep"}
