%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheet.css"}
    %title Caffeine-Sleep: Register
  %body
    #content-frame
      #contenti
        %form{:name => "test", :action => "/register", :method => "post"}
          %fieldset
            %legend Registration
            .form
              .form-row
                .form-label
                  %label{:rel => "username"} Username
                .form-input
                  %input{:type => "text", :name => "username"}
              .form-row
                .form-label
                  %label{:rel => "password"} Password
                .form-input
                  %input{:type => "password", :name => "password"}
              .form-row
                .form-label
                  %label{:rel => "fname"} Firstname
                .form-input
                  %input{:type => "fname", :name => "fname"}
              .form-row
                .form-label
                  %label{:rel => "lname"} Lastname
                .form-input
                  %input{:type => "lname", :name => "lname"}
              .form-row
                .form-label
                  %label{:rel => "email"} email
                .form-input
                  %input{:type => "email", :name => "email"}
          %input{:type => "submit", :value => "register"}
        %span 
          = @error
                        
