%html
    %head
        %title Caffeine-Sleep Register
    %body
        #main-content
            #header
                #logo
                #header-nav
                #login
                    %span #{@greeting}
                    %form{:name => "test", 
                        :action => "/register", 
                        :method => "post"}
                        %label{:rel => "username"} Username
                        %input{:type => "text", :name => "username"}
                        %label{:rel => "password"} Password
                        %input{:type => "password", :name => "password"}
                        %input{:type => "submit", :value => "register"}
            #content
                %h1 Caffeine and intake logger
                %p We wanted to be able to track caffeine intake vs sleep in comparison to productivity.  This is how we will do that.
            #footer
                Copyright - Brousalis Enterprises, LLC
