$blue: #0097FF;
$lightGrey: #505050;
$darkGrey: #242021;

body {
  background-color: $lightGrey;
  .header-nav {
    background-color: $blue;
    #header {
      background-color:$darkGrey;
      ul.topnav {
        list-style: none;
	padding: 0 20px;
	marging: 0;
	float: left;
	font-size: 1.2em;
	background-color: $darkGrey;
	li {
	  float: left;
	  margin: left;
	  padding: 0 15px 0 0;
	  position: relative;
	  a {
	    color: white;
	    text-decoration: none;
	    float: left;
	    padding: 10px 5px;
	    display: block;
	  }
	  a:hover {
	    background-color: black;
	  }
	  span {
	    float: left;
	    background-color: $darkGrey;
	  }
	  span.subhover {
	    background-position: center bottom;
	    cursor: pointer;
	  }
	  ul.subnav {
	    list-style:none;
	    /*position: absolute;*/
	    left: 0;
	    top: 35px;
	    margin:0;
	    padding: 0;
	    float: left;
	    border: 1px solid #111;
	    display: none;
	  }
	  li {
	    margin: 0;
	    padding: 0;
	    border-top: 1px solid #252525;
	    border-bottom: 1px solid #444;
	    clear: both;
	    a {
	      float: left;
	      padding-left: 20px;
	    }
	    a:hover {
	      background-color: $darkGrey;
	    }
	  }
	}
      }
    }
  }
}
