BODY
{
	background: #505050;
	margin: 0px;
}
.header-nav
{
	background: #0097FF;
	margin: 0;
	padding: 0;
	width: 800px;
}
.logo
{
	width: 368px;
	background: url(logo.png) no-repeat;
	height: 102px;
}
UL.topnav A
{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	padding: 0 1em;
	font: normal 1em/1.9em Tahoma;
}
UL.topnav A:hover
{
	color: #008000;
	background: #CC5050;
}
UL.topnav LI
{
	float: left;
	text-align: left;
	background: #242021;
}
UL.topnav LI UL
{
	display: none;
	list-style: none;
	padding: 0;
}
UL.topnav LI UL LI
{
	float: none;
	width: auto;
	font-size: 85%;
	margin: 0;
	padding: 0;
}
UL.topnav LI:hover
{
/*border-left: .1em solid $darkGrey;*/
	background-color: #000000;
}
UL.topnav
{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 800px;
}
UL.topnav LI:hover UL
{
	position: absolute;
	display: block;
	background: #F8DACA;
/*border-bottom: .1em solid #F86210;
border-left: .15em solid #F86210;*/
	min-width: 7em;
}
