$blue: #0097FF;
$lightGrey: #505050;
$darkGrey: #242021;
body {
  background: $lightGrey;
}
.header-nav {
  background: $blue;
  margin: 0;
  padding: 0;
  border: 0;
  width: 1920;
}

#header {
  display: block;
  margin: 0;
  padding: 0;
  width: 200%;
  list-style: none;

  ul {
    width: 100%;
    display:block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    width: 10em;
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: green;
  }

  li {
    float: left;
    width: 10em;
    background: $darkGrey;
    text-align: left;
    padding-left: 4px;

    ul {
      display: none;

      li {
        float: none;
        width: auto;
        font-size: 85%;
      }
    }
  }

  li:hover {
    /*border-left: .1em solid $darkGrey;*/ 
    background-color: black;
    padding-left: 2px;

    ul {
      position: absolute;
      display: block;
      width: 10.1em;
      background: #F8DACA;
      /*border-bottom: .1em solid #F86210;*/
      /*border-left: .15em solid #F86210;*/
      margin-left: -.25em;

      li {
        border: none;
        padding: 4px;
      }
    }
  }

}
