%html
  %head
    %title Sleep
  %body
    .header-nav
      = renderPartial "nav"
    - if @sleepEntries.empty?
      %h1 No Sleep Entries Found
    #sleep
      - @sleepEntries.each do |sleep|
        %p Length: 
        %span
          = sleep.length
