%html
    %head
        %title Productivity
    %body
        .header-nav
            = renderPartial "nav"
        - if @productivityEntries.empty?
            %h1 You have not loged any productivity
            %a{:href => "/logproductivity"} Log Productivity
        #productivity
            - @productivityEntries.each do |entry|                  
                %p Productivity level                         
                %span #{entry.level}
        #content
            %h1 Caffeine and intake logger
            %p We wanted to be able to track caffeine intake vs sleep in comparison to productivity.  This is how we will do that.
        #footer
            Copyright - Brousalis Enterprises, LLC
